<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/post/{{ p.key().id() }}">{{ p.subject }}</a>
    </div>

    <div class="post-date">
      posted on {{p.created.strftime("%b %d, %Y")}}, by {{p.username}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <div class="post-options">
    <a class="editpost" href="/editpost/{{ p.key().id() }}">edit</a> |
    <a class="deletepost" href="/deletepost/{{ p.key().id() }}">delete</a>
    <br>
    {% if like_id %}
      <a class="likepost" href="/unlikepost/{{ p.key().id() }}">Unlike</a> |
    {% else %}
      <a class="likepost" href="/likepost/{{ p.key().id() }}">Like</a> |
    {% endif %}
    <br>
    Likes for this post: {{likes_count}}
  </div>
</div>
